<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/mainStyle.css">
</head>
<body>

<h1>Startside</h1>

<nav>
    <div class="container">
        <a href="/index.html"> <button>Hjem</button> </a>
        <a href="/attractions/all"> <button>Alle attraktioner</button> </a>
        <a href="/attractions"> <button>Admin side</button> </a>
    </div>
</nav>

<div th:replace="/fragments/fragments :: navigationBar"></div>
<div th:replace="/fragments/fragments.html :: footer"></div>

</body>
</html>