<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin-site</title>
    <link rel="stylesheet" href="/mainStyle.css">
</head>
<body>

<h1>Turist attraktioner:</h1>
<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Valuta</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="attraction : ${attractions}">
            <td th:text="${attraction.name}"></td>
            <td th:text="${attraction.description}"></td>
            <td th:text="${attraction.price}"></td>
            <td th:text="${attraction.currency}"></td>
            <td> <a th:href="@{attractions/{name}/update (name=${attraction.name})}"> <button>Opdater</button> </a> </td>
            <td> <a th:href="@{attractions/{name}/tags (name=${attraction.name})}"> <button>Tags</button> </a> </td>
            <td> <a th:href="@{attractions/{name}/delete (name=${attraction.name})}"> <button>Slet</button> </a> </td>
        </tr>
    </tbody>
</table>

<br>

<a href="attractions/create"> <button>Tilføj attraktion</button> </a>
<a href="/index.html"> <button>Tilbage</button> </a>

</body>
</html>