<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create attraction</title>
    <link rel="stylesheet" href="/mainStyle.css">
</head>
<body>

<h1>Tilføj Tourist Attraktion</h1>

<form action="/attractions/create" method="post" th:object="${touristAttraction}">

<!--    kan man anvende, th:field="*{name}" og th:value="${touristAttraction.name}"-->
    <label for="name">Navn: </label>
    <input id="name" type="text" th:field="*{name}" required>

    <label for="description">Beskrivelse: </label>
    <input id="description" type="text" th:field="*{description}" required>

    <label for="by">By: </label>
    <select id="by" th:field="*{city}" required>
        <option value="">Vælg by</option>
        <option th:each="city : ${cities}" th:value="${city}" th:text="${city}">Cities</option>
    </select>

    <label for="price">Pris: </label>
    <input id="price" type="number" th:field="*{price}" required>

    <label for="currency">Valuta: </label>
    <input id="currency" type="text" th:field="*{currencyCode}" readonly>


<!--    Man kan have alle th-tags i samme html-tag-->
<!--    spørg om man ikke kan tilføje "required" til tagget, uden at man er tvunget til vælge alle checkbox-->
    <div id="tags">
        <input type="checkbox" th:field="*{tags}" th:each="tag : ${tags}" th:value="${tag}" th:text="${tag}">
    </div>


    <button type="submit">OK</button>

</form>

<a href="/attractions" > <button>Fortryd</button> </a>

</body>
</html>